* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  font-weight: normal;
  color: #D3C6AA;
  background: #343F44;
  min-height: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.widget {
  padding-left: 12px;
  padding-right: 12px;
}
.widget * {
  padding-left: 2px;
  padding-right: 2px;
}

.clock {
  font-weight: bold;
}

.workspace-button-active, .workspace-button-active * {
  background: #475258;
}

.workspace-button, .workspace-button * {
  min-width: 12px;
}

separator {
  /*background: #475258;*/
  background: #343F44;
  min-width: 3px;
}
